.bg-blue{
    background: #4473c5;
}
.bg-green{
    background: #5f9a3b;
}
.bg-green-l{
    background: #06b785;
}
.bg-red{
    background: #f32630;
}
.bg-orange{
    background: #f32630;
}
.bg-blue-l{
    background: #5c9ad5;
}